<!DOCTYPE html>
<html>

<head>
    <title>Hava Finans</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/date.css">
    <link rel="stylesheet" href="/stylesheets/finans.css">
</head>

<body>
    <div class="financeMain">
        <div class="main-header">

            <div class="main-header-part">
                <div class="mainHour" id="clock"></div>
            </div>

            <div class="main-header-part">

                <div class="mainDay" id="day"></div>
                <div class="mainDate" id="date"></div>
            </div>

        </div>
        <div class="main-body">
            <div class="finance-block">
                <span style="width:600px;"> <img class="icon-turn" style='height:80px;margin-top:-7px;'
                        src="/images/usd.svg" alt="">
                    USD</span>
                <span style="width:400px;">
                    <%- finans[0].selling_str.toString().substring(0, finans[0].selling.toString().length - 2) %> ₺
                </span>
                <span style="width:300px;">
                    <%- finans[0].change_rate_str %>
                </span>
                <span>
                    <strong class="<%-finans[0].status_bg_color %>"><%- finans[0].status_symbol %></strong>
                </span>

            </div>
            <div class="finance-block">
                <span style="width:600px;"> <img class="icon-turn" style='height:80px;margin-top:-7px;'
                        src="/images/eur.svg" alt="">
                    EUR</span>
                <span style="width:400px;">
                    <%- finans[1].selling_str.toString().substring(0, finans[1].selling.toString().length - 2) %> ₺
                </span>
                <span style="width:300px;">
                    <%- finans[1].change_rate_str %>
                </span>
                <span>
                    <strong class="<%-finans[0].status_bg_color %>"><%- finans[1].status_symbol %></strong>
                </span>

            </div>
            <div class="finance-block">
                <span style="width:600px;"> <img class="icon-turn" style='height:80px;margin-top:-7px;'
                        src="/images/gbp.svg" alt="">
                    GBP</span>
                <span style="width:400px;">
                    <%- finans[2].selling_str.toString().substring(0, finans[2].selling.toString().length - 2) %> ₺
                </span>
                <span style="width:300px;">
                    <%- finans[2].change_rate_str %>
                </span>
                <span>
                    <strong class="<%-finans[0].status_bg_color %>"><%- finans[2].status_symbol %></strong>
                </span>

            </div>
            <div class="finance-block">
                <span style="width:600px;"> <img class="icon-turn" style='height:80px;margin-top:-7px;'
                        src="/images/gold.jpg" alt="">
                    Altın</span>
                <span style="width:400px;">
                    <%- finans[3].selling_str.toString().substring(0, finans[3].selling.toString().length - 9) %> ₺
                </span>
                <span style="width:300px;">
                    <%- finans[3].change_rate_str %>
                </span>
                <span>
                    <% if(finans[3].change_rate<0){%>
                    <strong class="red">&#9660</strong>
                    <% }else{%>
                    <strong class="green">&#9650</strong>
                    <% }%>

                </span>
            </div>
        </div>



    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/javascripts/bootstrap.js"></script>

    <script src="/javascripts/finans.js"></script>
    <script src="/javascripts/date.js"></script>

</body>

</html>